<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
</head>
<body>
<h1> Edit Event Page</h1>
<form action='/events/<%=event._id%>?_method=PUT' method='POST'>
        <input type='text' name='title' value='<%=event.title%>'>
        <input type='text' name='host' value='<%=user.username%>' readonly>
        <input type='text' name='location' value='<%=event.location%>'>
        <input type='datetime-local' name='date' value='<%=event.date%>'>
        <input type='text' name='description' value='<%=event.description%>'>
        <input type='number' name='budget' value='<%=event.budget%>'>
        <input type='checkbox' name='services' value='<%=services.title%>'>
        <button type='submit'>Submit Changes</button>
    </form>
    
<!--Add delete feature based on if the event host is the current user logged in-->
</body>
</html>