<!DOCTYPE html>
<html>
<head>
   <% include ../partials/head %>
</head>
<body>
    <header>
          <% include ../partials/navbar %>
    </header>
<main>
<h1 class='edit-title'> Edit <%=event.title%></h1><br>


        <%let year = event.date.getFullYear()%>
        <%let month = event.date.getMonth()%>
        <%let day = event.date.getDate()%>
        <%let hours = event.date.getHours()%>
        <%let minute = event.date.getMinutes()%>
        <%let theMonth = month+1%>
        <%if(theMonth < 10){%>
            <%theMonth = '0' + theMonth%>
        <%}%>
         <%if(day < 10){%>
            <%day = '0' + day%>
        <%}%>
         <%if(hours < 10){%>
            <%hours = '0' + hours%>
        <%}%>
         <%if(minute < 10){%>
            <%minute = '0' + minute%>
        <%}%>
       <%let correctDate = year + '-' + theMonth + '-' + day + 'T' + hours + ':' + minute%>
       <%let budgetPrice ='$' + event.budget %>
    
<form class='edit-event' action='/events/<%=event._id%>?_method=PUT' method='POST'>
        Title: <input type='text' name='title' value='<%=event.title%>'><br><br>

        Host: <input type='text' name='host' value='<%=user.username%>' readonly><br><br>

        Location: <input type='text' name='location' value='<%=event.location%>'><br><br>

        Date & Time: <input type='datetime-local' name='date' value='<%=correctDate%>'><br><br>

        Description: <input type='text' name='description' value='<%=event.description%>'><br><br>

        Budget: <input type='number' name='budget' value='<%=event.budget%>'><br><br>

        Services Needed: 
        <select multiple name="servicesNeeded">
            <option value="Chef">Chef</option>
            <option value="Bartender">Bartender</option>
        </select><br><br>

        Image: <input type='text' name='image' value='<%=event.image%>'><br><br><br>

        <button id='edit-btn' class='btn btn-round btn-lg' type='submit'>Submit Changes</button>
    </form>

    <form id='event-delete' action="/events/<%=event._id%>?_method=DELETE" method="POST">
            <input type="submit" class='btn btn-round btn-lg' value="Delete Event"/>
        </form>
<!--Add delete feature based on if the event host is the current user logged in-->

<% include ../partials/footer %>
</main>
</body>
</html>