<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/navbar %>
    </header>
<main>
<h1 class='event-title'>Events Near You</h1>
    <% for(let i = 0; i < events.length; i++){%>
        <a href='/events/<%=events[i]._id%>'>   
            <li class='list-group-item events-list'>
            <img class='img-resize' src="<%=events[i].image%>">
            <h4><%=events[i].title%></h4>
            Date: <%=events[i].date%><br>
            Location: <%=events[i].location%><br>
            Services Needed: <%=events[i].servicesNeeded%>
            </li>
        </a>
        <!-- add the host and the services requested here -->
    <%}%>
    <br>

    <a href='/events/new'><button class='btn btn-round btn-lg'>Create a New Event</button></a>
    

</main>
<% include ../partials/footer %>
</body>
</html>