<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/navbar %>
    </header>
    <main>
    <h1><%=event.title%></h1>
    
        <img class='showpage-image' src="<%=event.image%>">
        <p>Location: <%=event.location%></p>
        <p>Date & Time: <%=event.date%></p>
        <p>Description: <%=event.description%></p>
        <p>Host: <%=user.username%></p>
        <p>Services Needed: <%=event.servicesNeeded%></p>
        <p>Budget: $<%=event.budget%><p>
        
    </ul>

    <% if(currentSession.logged === true){%>
        <%if(currentUserId.toString() === user._id.toString()){%>
            <a href='/events/<%=event._id%>/edit'><button class='btn btn-round btn-lg'>Edit</button></a>
                <%if(event.services.length > 0){%>
            <a href='/events/<%=event._id%>/bids/'><button class='btn btn-round btn-lg'>Show Bids</button></a>
                <%}%>   
        <% } else if (currentUser.services.length > 0) {%>
            <a href='/bids/new/<%=event._id%>'><button class='btn btn-round btn-lg'>Make Bid</button></a>
        <% } %>
   <% }%>

   

    <!--Add edit feature based on if the event host is the current user logged in-->
    <!-- -->
    </main>
    <% include ../partials/footer %>
</body>
</html>