<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
 
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
</head>
<body>

    <!-- NAVIGATION -->
    <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active px-2"> 
                    <a class="nav-link" href='/'>Home</a> 
                </li>
                <li class="nav-item px-2"> 
                    <a class="nav-link" href='/about'>About</a> 
                </li>
                <li class="nav-item px-2"> 
                    <a class="nav-link" href='/events'>Events</a>
                </li>
                <li class="nav-item px-2"> 
                    <a class="nav-link" href='/services'>Orderves</a> 
                </li>

                <% if (currentSession.logged){%>

                    <li class="nav-item px-2"> 
                        <a class="nav-link" href='/users/<%=currentUserId%>'>Profile</a> 
                    </li>
                    <li class="nav-item px-2"> 
                        <a class="nav-link" href='/auth/logout'>Logout</a> 
                    </li>

                <%} else {%>

                    <li class="nav-item px-2"> 
                        <a class="nav-link" href='/auth/loginPage'>Login</a>
                    </li>

                <%}%>

            </ul>
        </div>
    </nav>

    <!-- BANNER -->
    <header>
        <div class="container">
            <div class="row justify-content-md-center my-5" id="home-banner">
                <div class="col-12" id="home-banner-content">
                        <h1 id="heading-text">Orderve</h1>
                        <h3>Find The Right Professional For Your Event</h3>
                        <h6>Sign Up and Become a Host or an Orderve</h6>
                
                    <div id="home-login-buttons">
                        <form action="/auth/loginPage" method="GET">
                            <button type="submit">Log In</button>
                        </form>
                        <form action="/auth/registerPage" method="GET">
                            <button type="submit">Sign Up</button>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </header>  
    <br>

    <!-- EVENTS AND CHEFS NEARBY -->
    <section>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-5" id="event-list">
                    <h2>Events Near You</h2>
                    <% for (let i=0; i<events.length; i++) { %>
                        <li class="list-group-item text-left">
                            <img class="img-resize" src="<%=events[i].image%>">
                            <a href="/events/<%=events[i]._id%>"> <%= events[i].title %> </a>
                        </li>
                    <% } %>
                    <form action="/events" method="GET">
                        <button type="submit">All Events</button>
                    </form>
                </div>

                <div class="col-md-5 offset-md-2 my-4 my-md-0" id="orderve-list">
                    <h2>Orderves Near You</h2>
                    <ul>
                    <% for (let i=0; i<users.length; i++) { %>
                        <li class="list-group-item text-left">
                            <img class="img-resize" src="<%=users[i].image%>">
                            <a href="/users/<%=users[i]._id%>"> <%= users[i].username %> </a>
                        </li>
                    <% } %>
                    </ul>
                    <form action="/users" method="GET">
                        <button type="submit">All Orderves</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </section>
        
        
</body>
</html>