<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
</head>
<body>
    
        <header>
                <nav>
                    <a href='/'>Home</a>
                    <a href='/about'>About</a>
                    <a href='/events'>Events</a>
                    <a href='/services'>Orderves</a>
                    <% if (currentSession.logged){%>
                        <a href='/users/<%=currentUserId%>'>Profile</a>
                        <a href='/auth/logout'>Logout</a>
                    <%} else {%>
                        <a href='/auth/loginPage'>Login</a>
                    <%}%>
                </nav>
        </header>
        
        <main>
            
            <section>
                <% if (currentSession.logged === true && user._id.toString() === currentUserId.toString()){%>
                    <h1>Your Profile</h1>
                <%} else{%>
                    <h1><%=user.firstname%><%=user.lastname%></h1>
                <%}%>

                    First Name: <%=user.firstname%> <br>
                    Last Name:  <%=user.lastname%> <br>
                    Username:   <%=user.username%> <br>

                    Email:      <%=user.email%> <br>
                    Events:     
                        <%for(let i = 0; i < user.events.length; i++){%>
                            <a href='../events/<%=user.events[i]._id%>'><%=user.events[i].title%></a>
                            <br>

                        <%}%>
                    Services:   
                    <% for (let i=0; i< user.services.length; i++){ %>
                        <a href="../services/<%=user.services[i]._id%>">
                        <%=user.services[i].title%>
                        </a>
                    <%}%><br>
                    Zip Code:   <%=user.zipCode%> <br><br>
            </section>
            <% if (currentSession.logged === true && user._id.toString() === currentUserId.toString()){%>
                <a href="/services/new"><button type="submit">Create new Service</button></a>
                <a href="/users/<%=currentUserId%>/edit"><button type="submit">Edit Your Profile</button></a>
                <a href='/events/new'><button>Create a New Event</button></a>

            <%} else{%>
                <a href="/"><button type="submit">Go Home</button></a>
            <%}%>
            <br>
    
            
    
        </main>


</body>
</html>