<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/navbar %>
    </header>
    <main>
            <h1>Title: <%=bid.title%></h1>
            <a href="/services/<%=service._id%>"><h2><%=bid.title%> Profile</h2></a>
            <p>Bid Amount<%=bid.bidAmount%></p>
            
            <% if (currentSession.logged === true && (user._id.toString() === currentUserId.toString())){%>
                <a href="/users/<%=currentUserId%>"><button type="submit">Go back to profile</button></a>
                <a href="/bids/<%=bid._id%>/edit"><button type="submit">Edit</button></a>
                <form action="/bids/<%=bid._id%>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            <%} else{%>
                <a href="/"><button type="submit">Go Home</button></a>
                
            <%}%>

    </main>
    <% include ../partials/footer %>
</body>
</html>