<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/navbar %>
    </header>
    <main>
    <form action="/services/<%=service._id%>?_method=PUT" method="POST">
        Here will be a dropdown showing each type of skill they can choose
        Job Title: <input type="text" name="title" value="<%=service.title%>"><br/>
        Description: <input type="text" name="about" value="<%=service.about%>"><br/>
        Maybe loop through all the images to edit serparatly? so they can delete images from here<br/>
        Add Images (URL): <input type="text" name="images" value="<%=service.images[0]%>">
        <% for (let i = 0; i < service.images.length; i++) {%>
            <img src="<%=service.images[i]%>"><br/>
        <%}%>
        
        
        
        <button type="submit">Edit skillset/chef/orderve</button>
    </form>
    <form action="/services/<%=service._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    </main>
    <% include ../partials/footer %>
</body>
</html>