<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/navbar %>
    </header>
    <main>
        <% if (isEvent){%>
            <h1><%=event.title%> - chef bids</h1>
            <ul>
                <% for (let i = 0; i < event.services.length; i++) { %>
                    <a href="/services/<%=event.services[i]._id%>"><li><%=event.services[i].title%>
                    </li></a>
                <%}%>
            </ul>  
            <a href="/users/<%=currentUserId%>"><button type="submit">Go back to profile</button></a>
        <%} else {%>
            <h1>Current Chefs Looking for Events</h1>
            <ul>
                <% for (let i = 0; i < services.length; i++) { %>
    
                <a href="/services/<%=services[i]._id%>"><li><%=services[i].title%>
                
                </li></a>
                <%}%>
            </ul>  
            <a href="/users/<%=currentUserId%>"><button type="submit">Go back to profile</button></a>
        
        <%}%>

        
    </main>
    <% include ../partials/footer %>
</body>
</html>