<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
</head>
<body>
    <header>
            <nav>
                <a href='/'>Home</a>
                <a href='/about'>About</a>
                <a href='/events'>Events</a>
                <a href='/services'>Orderves</a>
                
                <% if (currentSession.logged){%>
                    <a href='/users/<%=currentUserId%>'>Profile</a>
                    <a href='/auth/logout'>Logout</a>
                <%} else {%>
                    <a href='/auth/loginPage'>Login</a>
                <%}%>
            </nav>
    </header>
    <main>
            <h1>Title: <%=service.title%></h1>
            <p>Description<%=service.about%></p>
            <div>Images:
                <% for( let i = 0; i < service.images.length; i++){ %>
                    <img src="<%=service.images[i]%>">
                <%}%>
                
            </div>
            <% if (currentSession.logged === true && (serviceUser._id.toString() === currentUserId.toString())){%>
                <a href="/users/<%=currentUserId%>"><button type="submit">Go back to profile</button></a>
                <a href="/services/<%=service._id%>/edit"><button type="submit">Edit</button></a>
                <form action="/services/<%=service._id%>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            <%} else{%>
                <a href="/"><button type="submit">Go Home</button></a>
                
            <%}%>

    </main>
</body>
</html>