<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/navbar %>
    </header>
    <main>
            <h1>Title: <%=service.title%></h1>
            <p>Description<%=service.about%></p>
            <div>Images:
                <% for( let i = 0; i < service.images.length; i++){ %>
                    <img src="<%=service.images[i]%>">
                <%}%>
                
            </div>
            <% if (currentSession.logged === true && (serviceUser._id.toString() === currentUserId.toString())){%>
                My Bids:<br/>
                <ul>
                    <% for (let i = 0; i < service.bids.length; i++){%>
                        <a href="/bids/<%=service.bids[i]._id%>"><li><%=service.bids[i].title%></li></a>
                        <a href="/bids/<%=service.bids[i]._id%>/edit"><button type="submit">Edit Bid</button></a>
                        <form action="/bids/<%=service.bids[i]._id%>?_method=DELETE" method="POST">
                            <button type="submit">Delete Bid</button>
                        </form>
                    <%}%>
                </ul>
                
                <a href="/users/<%=currentUserId%>"><button type="submit">Go back to profile</button></a>
                <a href="/services/<%=service._id%>/edit"><button type="submit">Edit Service</button></a>
                <form action="/services/<%=service._id%>?_method=DELETE" method="POST">
                    <button type="submit">Delete Service</button>
                </form>
            <%} else{%>
                <a href="/"><button type="submit">Go Home</button></a>
                
            <%}%>

    </main>
    <% include ../partials/footer %>
</body>
</html>